@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  /* color: #333333; */
}
.p-t1 {
  padding-top: 1em;
}
h1 {
  font-size: 1.6rem;
  text-align: center;
  /* padding: 1em; */
  padding-bottom: 0.4em;
  /* background-color: aqua; */
}
h2 {
  padding: 1em;
}
.hero {
  /* background-color: rgb(192, 192, 192); */
  padding: 2em 1em;
  text-align: center;
}
.chart-box {
  padding: 0 0.8em;
  /* max-width: 900px; */
  width: 100%;
  justify-content: center;
}

button,
select {
  padding: 0.4em 1em;
  margin: 10px;
  /* color: #0f0f0f; */
  /* background-color: rgb(115, 192, 255); */
  border-radius: 3px;
  border: #666666 solid 1.4px;
}

button:hover {
  background-color: rgb(146, 146, 146);
}
.btn1 {
  background-color: hsla(0, 0%, 100%, 0.5);
}
.btn2 {
  background-color: rgb(80, 77, 230);
}

fieldset {
  /* margin: 1em; */
}
legend {
  background-color: #e7f0fd;
  margin-left: 0.4em;
  padding: 0.6em 1em;
}

fieldset {
  color: #333333;
  border: #9b9b9b solid 1px;
  /* border-radius: 4px; */
  margin-bottom: 1em;
}
.file-upload-btn {
  font-size: 1rem;
  /* margin: 1em; */
  padding: 1em;
  width: 100%;
  /* border-radius: 10px; */
  /* background-color: aquamarine; */
  /* background-color: rgb(233, 233, 233); */
}

.radio-btn-container {
  display: flex;
  margin-top: 1em;
}
.radio-input {
  /* display: none; */
  opacity: 0;
  position: absolute;
}

.radio-label {
  display: inline-block;
  /* padding: 0.2em; */
  background-color: rgb(233, 233, 233);
  width: 50%;
  text-align: center;
}
/* .radio-input:focus + .radio-label {
  outline: 3px dashed red;
} */
.radio-input:focus-visible + .radio-label {
  outline: 3px dashed blue;
}

.radio-input:checked + .radio-label {
  background-color: rgb(179, 255, 229);
}

.radio-label {
  color: #252525;
  padding: 1.2em;
  /* font-size: 3em; */
}
.bx {
  font-size: 2em;
  /* width: 80px; */
}

/* @media only screen and (min-width: 768px) {
  .main-container {
    display: grid;
    grid-template-columns: 1fr minmax(30ch, 240ch) 1fr;
  }
} */
