@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #1b1b1b;
}

.chart-box {
  padding: 2em;
  max-width: 900px;
  justify-content: center;
}

button {
  padding: 0.4em 1em;
  margin: 10px;
  color: #0f0f0f;
  /* background-color: rgb(115, 192, 255); */
  border-radius: 3px;
  border: #666666 solid 1.4px;
}
